.form1{
    
    margin: 0px auto;
    margin-top: 5%;
    height: 500px;
    width: 500px;
}
.title1{
    color: blueviolet;
}
h2{
    color: blueviolet;
}

@media only screen and (max-width: 768px) {
    
    .form1{
        width: 700px;
    }
  }
